<div class="sidebar">
    <img src="">
    <div class="dropdown">
        <a class="top-route">Despre noi</a>
        <div class="dropdown-content">
            <a>asdasd</a>
            <a>asdasd</a>
            <a>asdasd</a>
            <a>asdasd</a>
        </div>
    </div>
    <div class="dropdown">
        <a class="top-route">Proiecte</a>
        <div class="dropdown-content">
            <a>Proiectul magazinul nostru</a>
        </div>
    </div>
    <a class="top-route">Articole</a>
    <div class="dropdown">
        <a class="top-route">Vot membri</a>
        <div class="dropdown-content">
            <a>Vot 1</a>
            <a>Vot 2</a>
        </div>
    </div>
    <a class="top-route" style="margin-right: 2rem;">Contact</a>
</div>